<nav class="navbar navbar-expand-lg navbar-dark bg-primary px-4">
  <a class="navbar-brand" href="#">Fpoly Quizz</a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
    aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="navbar-nav mr-auto">
      <li class="nav-item active">
        <a class="nav-link" href="#">Danh sách điểm </a>
      </li>
      <li class="nav-item dropdown">
        <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown"
          aria-haspopup="true" aria-expanded="false">
          Môn học
        </a>
        <div class="dropdown-menu" aria-labelledby="navbarDropdown">
          <a class="dropdown-item" href="#">Toán</a>
          <a class="dropdown-item" href="#">Another action</a>
          <div class="dropdown-divider"></div>
          <a class="dropdown-item" href="#">Something else here</a>
        </div>
      </li>
     
    </ul>

  </div>
</nav>

<div class="row clearfix">
</div>
<div class="col-md-1 column">
</div>
<div class="container ">
  <h1 class="text-center mt-4 mb-2">Môn HTML (Intermediate)</h1>
  <h4 class="text-center my-4 font-weight-normal">Thời gian 15 phút, 20 câu </h4>
  <div class="column p-4 border-1">
    <div class="panel panel-primary">
      <div class="panel-heading">
        <h3 class="panel-title bg-info text-white p-3">
          Domanda
        </h3>
      </div>
      <div class="panel-body my-2">
        <div class="radio">
          <label>
            <input type="radio" name="optionsRadios" id="optionsRadios1" value="option1" checked=""> Questa è la
            risposta uno. Fossi in te, la lascerei perdere
          </label>
        </div>
        <div class="radio">
          <label>
            <input type="radio" name="optionsRadios" id="optionsRadios2" value="option2"> Forse la due si avvicina... ma
            non ci giurerei
          </label>
        </div>
        <div class="radio">
          <label>
            <input type="radio" name="optionsRadios" id="optionsRadios3" value="option3"> Opzione tre — da' retta, è
            questa
          </label>
        </div>
        <div class="radio">
          <label>
            <input type="radio" name="optionsRadios" id="optionsRadios4" value="option4"> Sulla risposta quattro non ci
            metterei la mano sul fuoco...
          </label>
        </div>

      </div>
      <div class="panel-footer">
        <a href="#" class="btn btn-light " role="button">Prev</a>
        <a href="#" class="btn btn-primary " role="button">Next</a>
        <!-- <a href="#" class="btn btn-default disabled" role="button">Avanti</a> -->
      </div>
    </div>
    <div class="col-md-1 column">
    </div>
  </div>
</div>

